/* Estilos para el body */
body {
    font-size: 16px;
    font-family: 'Roboto', sans-serif; /* Fuente de Google Fonts */
    color: #333; /* Color de letra */
    background-color: #f0f0f0; /* Color de fondo */
}

/* Estilos para enlaces */
a {
    color: #0073e6; /* Color de letra de los enlaces */
    text-decoration: none;
}

a:hover {
    color: #005bb5; /* Color de los enlaces en hover */
}

/* Estilos para imágenes y videos (iframe) responsivos */
img, iframe {
    max-width: 100%;
    height: auto;
}

/* Estilos para la tabla */
table {
    width: 100%;
    border-collapse: collapse;
}

/* Estilos para clases utilitarias */
.util-margen {
    margin: 20px;
}

.util-padding {
    padding: 10px;
}

.util-fondo-oscuro {
    background-color: #333;
    color: #fff;
}

.util-texto-centro {
    text-align: center;
}

.util-borde {
    border: 1px solid #ccc;
}

.util-mayusculas {
    text-transform: uppercase;
}

.util-espaciado-grande {
    letter-spacing: 2px;
}

.util-subrayado {
    text-decoration: underline;
}

.util-bold {
    font-weight: bold;
}

.util-italica {
    font-style: italic;
}

/* Variables CSS */
:root {
    --color-primario: #0073e6;
    --color-secundario: #005bb5;
    --color-fondo: #f0f0f0;
}

h1 {
    color: var(--color-primario);
}

a {
    color: var(--color-secundario);
}
